.DS_Store
Thumbs.db
/fsh-generated
/input-cache
/output
/temp
/template
.DS_Store
/input/resources
temp
jre
node_modules
differentials
publisher.jar
input-cache
template
output
validator_cli.jar
.claude/settings.local.json
